
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: #F7F7B2;
    margin:0px
}

header{
    display: flex;
    justify-content:center;
}

h1{
  font-family: "Luckiest Guy", cursive;
  font-size: 4rem;
  font-style: normal;
    color:#171796;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5em;
}

input{
    height: 3rem;
    width: 18rem;
}

#respuestaInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divContador{
    height: 20rem;
    width: 20rem;
    background-color: rgb(167, 167, 167);
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 10%;
}


.divContador p {
   font-size: 20rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(255, 255, 255);
}

footer{
    display: flex;
    justify-content: center;
}

#botonInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#boton{
    margin-top: 20%;
    border-radius: 10%;
    color: #F7F7B2;
    background-color:#171796 ;
    font-size:medium ;
    font-family: cursive;
}